In [65]:
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import requests
import os
import lxml.html as lh

In [25]:
#url='https://www.sports-reference.com/cbb/play-index/psl_finder.cgi?request=1&match=single&year_max=2020&class_is_fr=Y&class_is_so=Y&class_is_jr=Y&class_is_sr=Y&pos_is_g=Y&pos_is_gf=Y&pos_is_f=Y&pos_is_fg=Y&pos_is_fc=Y&pos_is_c=Y&pos_is_cf=Y&games_type=A&order_by=pts'
#page = requests.get(url)
#doc = lh.fromstring(page.content)
#tr_elements = doc.xpath('//tr')

In [26]:
#[len(T) for T in tr_elements[:12]]

[2, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26]

In [66]:
csv_file = "ncaaplayerstats.csv"
rawdatastats_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
rawdatastats_df.head()

,Rk,Player,Class,College Season Start,College Season End,College Pos,College,Col Conf,Col Games Played,ColMP,...,Col FTA,Col ORB,Col DRB,Col TRB,Col AST,Col STL,Col BLK,Col TOV,Col PF,Col PTS
0,1,Jimmer Fredette,SR,2010,2011,G,Brigham Young,MWC,37,1323.0,...,282,24.0,103.0,127,160,49,1,131.0,49.0,1068
1,2,Glenn Robinson,JR,1993,1994,F,Purdue,Big Ten,34,1166.0,...,270,NaN,NaN,344,66,56,31,139.0,88.0,1030
2,3,Chris Clemons,SR,2018,2019,G,Campbell,Big South,33,1208.0,...,283,25.0,142.0,167,94,49,11,84.0,63.0,993
3,4,Stephen Curry,JR,2008,2009,G,Davidson,Southern,34,1145.0,...,251,21.0,130.0,151,189,86,8,126.0,81.0,974
4,5,Kemba Walker,JR,2010,2011,G,Connecticut,Big East,41,1543.0,...,315,53.0,170.0,223,184,77,7,93.0,56.0,965

In [67]:
rawdatastats_df.rename(columns = {'College Season Start':'Col Season Start','College Season End':'Col Season End','College Pos':'Col Pos','ColMP':'Col MP'}, inplace = True)

In [68]:
rawdatastats_df.count()

Rk                  3000
Player              3000
Class               2999
Col Season Start    3000
Col Season End      3000
Col Pos             2998
College             3000
Col Conf            3000
Col Games Played    3000
Col MP              2560
Col FG              3000
Col FGA             3000
Col 2P              3000
Col 2PA             3000
Col 3P              3000
Col 3PA             3000
Col FT              3000
Col FTA             3000
Col ORB             2295
Col DRB             2295
Col TRB             3000
Col AST             3000
Col STL             3000
Col BLK             3000
Col TOV             2594
Col PF              2615
Col PTS             3000
dtype: int64

In [69]:
del rawdatastats_df['Col PF']
rawdatastats_df.count()

Rk                  3000
Player              3000
Class               2999
Col Season Start    3000
Col Season End      3000
Col Pos             2998
College             3000
Col Conf            3000
Col Games Played    3000
Col MP              2560
Col FG              3000
Col FGA             3000
Col 2P              3000
Col 2PA             3000
Col 3P              3000
Col 3PA             3000
Col FT              3000
Col FTA             3000
Col ORB             2295
Col DRB             2295
Col TRB             3000
Col AST             3000
Col STL             3000
Col BLK             3000
Col TOV             2594
Col PTS             3000
dtype: int64

In [70]:
rawdatastats_df.dtypes

Rk                    int64
Player               object
Class                object
Col Season Start      int64
Col Season End        int64
Col Pos              object
College              object
Col Conf             object
Col Games Played      int64
Col MP              float64
Col FG                int64
Col FGA               int64
Col 2P                int64
Col 2PA               int64
Col 3P                int64
Col 3PA               int64
Col FT                int64
Col FTA               int64
Col ORB             float64
Col DRB             float64
Col TRB               int64
Col AST               int64
Col STL               int64
Col BLK               int64
Col TOV             float64
Col PTS               int64
dtype: object

In [71]:
clean_rawdatastats_df = rawdatastats_df.dropna(how='any')

In [72]:
clean_rawdatastats_df.dtypes

Rk                    int64
Player               object
Class                object
Col Season Start      int64
Col Season End        int64
Col Pos              object
College              object
Col Conf             object
Col Games Played      int64
Col MP              float64
Col FG                int64
Col FGA               int64
Col 2P                int64
Col 2PA               int64
Col 3P                int64
Col 3PA               int64
Col FT                int64
Col FTA               int64
Col ORB             float64
Col DRB             float64
Col TRB               int64
Col AST               int64
Col STL               int64
Col BLK               int64
Col TOV             float64
Col PTS               int64
dtype: object

In [73]:
clean_rawdatastats_df.count()

Rk                  2243
Player              2243
Class               2243
Col Season Start    2243
Col Season End      2243
Col Pos             2243
College             2243
Col Conf            2243
Col Games Played    2243
Col MP              2243
Col FG              2243
Col FGA             2243
Col 2P              2243
Col 2PA             2243
Col 3P              2243
Col 3PA             2243
Col FT              2243
Col FTA             2243
Col ORB             2243
Col DRB             2243
Col TRB             2243
Col AST             2243
Col STL             2243
Col BLK             2243
Col TOV             2243
Col PTS             2243
dtype: int64

In [74]:
season_count = grouped_player_df['Player'].value_counts()
season_count.head()

Player         Player
A.D. Vassallo  A.D. Vassallo    2
A.J. Abrams    A.J. Abrams      3
A.J. English   A.J. English     3
A.J. Graves    A.J. Graves      1
A.J. Ogilvy    A.J. Ogilvy      1
Name: Player, dtype: int64

In [75]:
grouped_player_df = clean_rawdatastats_df.groupby(['Player'])
print(grouped_player_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x05E410E8>

In [76]:
grouped_player_df['Col Season Start'].min().head()

Player
A.D. Vassallo    2007
A.J. Abrams      2006
A.J. English     2013
A.J. Graves      2006
A.J. Ogilvy      2007
Name: Col Season Start, dtype: int64

In [77]:
grouped_player_df['Col Season End'].max().head()

Player
A.D. Vassallo    2009
A.J. Abrams      2009
A.J. English     2016
A.J. Graves      2007
A.J. Ogilvy      2008
Name: Col Season End, dtype: int64

In [79]:
col_avgs_df = grouped_player_df.mean().round(1)
col_avgs_df.head()

,Rk,Col Season Start,Col Season End,Col Games Played,Col MP,Col FG,Col FGA,Col 2P,Col 2PA,Col 3P,...,Col FT,Col FTA,Col ORB,Col DRB,Col TRB,Col AST,Col STL,Col BLK,Col TOV,Col PTS
Player,,,,,,,,,,,,,,,,,,,,,
A.D. Vassallo,1138.5,2007.5,2008.5,34.5,1224.0,219.0,490.5,135.0,270.0,84.0,...,98.0,123.0,37.0,148.5,185.5,82.5,26.0,22.5,86.0,620.0
A.J. Abrams,1915.0,2007.0,2008.0,35.7,1296.3,195.7,480.3,81.3,194.3,114.3,...,72.3,84.0,19.0,71.3,90.3,51.0,50.7,3.3,42.3,578.0
A.J. English,1141.0,2014.0,2015.0,31.7,1161.3,190.7,449.7,96.0,194.7,94.7,...,152.3,191.3,21.0,127.3,148.3,162.7,42.0,15.3,107.0,628.3
A.J. Graves,1551.0,2006.0,2007.0,35.0,1247.0,174.0,464.0,76.0,187.0,98.0,...,145.0,153.0,14.0,66.0,80.0,85.0,51.0,2.0,59.0,591.0
A.J. Ogilvy,1833.0,2007.0,2008.0,34.0,896.0,201.0,342.0,201.0,340.0,0.0,...,176.0,229.0,70.0,159.0,229.0,40.0,23.0,49.0,85.0,578.0

In [89]:
col_avgs_df.drop(columns=['Rk','Col Season Start','Col Season End']).head()

,Col Games Played,Col MP,Col FG,Col FGA,Col 2P,Col 2PA,Col 3P,Col 3PA,Col FT,Col FTA,Col ORB,Col DRB,Col TRB,Col AST,Col STL,Col BLK,Col TOV,Col PTS
Player,,,,,,,,,,,,,,,,,,
A.D. Vassallo,34.5,1224.0,219.0,490.5,135.0,270.0,84.0,220.5,98.0,123.0,37.0,148.5,185.5,82.5,26.0,22.5,86.0,620.0
A.J. Abrams,35.7,1296.3,195.7,480.3,81.3,194.3,114.3,286.0,72.3,84.0,19.0,71.3,90.3,51.0,50.7,3.3,42.3,578.0
A.J. English,31.7,1161.3,190.7,449.7,96.0,194.7,94.7,255.0,152.3,191.3,21.0,127.3,148.3,162.7,42.0,15.3,107.0,628.3
A.J. Graves,35.0,1247.0,174.0,464.0,76.0,187.0,98.0,277.0,145.0,153.0,14.0,66.0,80.0,85.0,51.0,2.0,59.0,591.0
A.J. Ogilvy,34.0,896.0,201.0,342.0,201.0,340.0,0.0,2.0,176.0,229.0,70.0,159.0,229.0,40.0,23.0,49.0,85.0,578.0

In [80]:
col_totals_df = grouped_player_df.sum().astype(int)
col_totals_df.head()

,Rk,Col Season Start,Col Season End,Col Games Played,Col MP,Col FG,Col FGA,Col 2P,Col 2PA,Col 3P,...,Col FT,Col FTA,Col ORB,Col DRB,Col TRB,Col AST,Col STL,Col BLK,Col TOV,Col PTS
Player,,,,,,,,,,,,,,,,,,,,,
A.D. Vassallo,2277,4015,4017,69,2448,438,981,270,540,168,...,196,246,74,297,371,165,52,45,172,1240
A.J. Abrams,5745,6021,6024,107,3889,587,1441,244,583,343,...,217,252,57,214,271,153,152,10,127,1734
A.J. English,3423,6042,6045,95,3484,572,1349,288,584,284,...,457,574,63,382,445,488,126,46,321,1885
A.J. Graves,1551,2006,2007,35,1247,174,464,76,187,98,...,145,153,14,66,80,85,51,2,59,591
A.J. Ogilvy,1833,2007,2008,34,896,201,342,201,340,0,...,176,229,70,159,229,40,23,49,85,578

In [85]:
col_player_career_avgs =

KeyError: "['Player'] not in index"