In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# adjusting for file type (tsv to csv)
filepath = "NBA_Draft_1980_2017.tsv"
Data = pd.read_csv(filepath, sep = '\t')
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2167 rows x 6 columns]

In [10]:
Data.dtypes

year          int64
round         int64
pick        float64
player       object
position     object
school       object
dtype: object

In [12]:
Data = Data.dropna()
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2166 rows x 6 columns]

In [27]:
filepath = "NBADraftData.csv"
Data = pd.read_csv(filepath)

In [37]:
# Swap Last name and first name on most years and reorient for names for consistancy. 
Data['last name'], Data['first name'] = Data['player'].str.split(', ', 1).str
D2018 = Data.loc[Data['year'] == 2018]
D1992 = Data.loc[Data['year'] == 1992]
D1990 = Data.loc[Data['year'] == 1990]
D1989 = Data.loc[Data['year'] == 1989]
D2018['first name'], D2018['last name'] = D2018['player'].str.split(' ', 1).str
D1992['first name'], D1992['last name'] = D1992['player'].str.split(' ', 1).str
D1989['first name'], D1989['last name'] = D1989['player'].str.split(' ', 1).str
D1990['first name'], D1990['last name'] = D1990['player'].str.split(' ', 1).str
D1989

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  import sys
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  if __name__ == '__main__':
C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,year,round,pick,player,position,school,last name,first name
422,1989,1,1,Pervis Ellison,PF,Louisville,Ellison,Pervis
423,1989,1,2,Danny Ferry,PF,Duke,Ferry,Danny
424,1989,1,3,Sean Elliott,SF/SG,Arizona,Elliott,Sean
425,1989,1,4,Glen Rice,SF,Michigan,Rice,Glen
426,1989,1,5,J. R. Reid,PF/C,North Carolina,R. Reid,J.
427,1989,1,6,Stacey King,C,Oklahoma,King,Stacey
428,1989,1,7,George McCloud,SG/SF,Florida State,McCloud,George
429,1989,1,8,Randy White,PF,Louisiana Tech,White,Randy
430,1989,1,9,Tom Hammonds,PF/C,Georgia Tech,Hammonds,Tom
431,1989,1,10,Pooh Richardson,PG,UCLA,Richardson,Pooh
432,1989,1,11,Nick Anderson,SF/SG,Illinois,Anderson,Nick
433,1989,1,12,Mookie Blaylock,PG,Oklahoma,Blaylock,Mookie
434,1989,1,13,Michael Smith,PF,BYU,Smith,Michael
435,1989,1,14,Tim Hardaway*,PG,UTEP,Hardaway*,Tim
436,1989,1,15,Todd Lichti,SG,Stanford,Lichti,Todd
437,1989,1,16,Dana Barros,PG,Boston College,Barros,Dana
438,1989,1,17,Shawn Kemp,PF/C,Trinity Valley CC,Kemp,Shawn
439,1989,1,18,B. J. Armstrong,PG,Iowa,J. Armstrong,B.
440,1989,1,19,Kenny Payne,PF,Louisville,Payne,Kenny
441,1989,1,20,Jeff Sanders,PF/C,Georgia Southern,Sanders,Jeff
442,1989,1,21,Blue Edwards,SF/SG,East Carolina,Edwards,Blue
443,1989,1,22,Byron Irvin,SG,Missouri,Irvin,Byron
444,1989,1,23,Roy Marble,SG/SF,Iowa,Marble,Roy
445,1989,1,24,Anthony Cook,PF/C,Arizona,Cook,Anthony
446,1989,1,25,John Morton,PG,Seton Hall,Morton,John
447,1989,1,26,Vlade Divac,C,KK Partizan,Divac,Vlade
448,1989,1,27,Kenny Battle,PF,Illinois,Battle,Kenny
449,1989,2,28,Sherman Douglas,G,Syracuse,Douglas,Sherman
450,1989,2,29,Dyron Nix,F,Tennessee,Nix,Dyron
451,1989,2,30,Frank Kornet,F,Vanderbilt,Kornet,Frank
452,1989,2,31,Jeff Martin,G,Murray State,Martin,Jeff
453,1989,2,32,Stanley Brundy,F,DePaul,Brundy,Stanley
454,1989,2,33,Jay Edwards,G,Indiana,Edwards,Jay
455,1989,2,34,Gary Leonard,C,Missouri,Leonard,Gary
456,1989,2,35,Pat Durham,F,Colorado State,Durham,Pat
457,1989,2,36,Cliff Robinson,PF/C,Connecticut,Robinson,Cliff
458,1989,2,37,Michael Ansley,F,Alabama,Ansley,Michael
459,1989,2,38,Doug West,G/F,Villanova,West,Doug
460,1989,2,39,Ed Horton,PF/C,Iowa,Horton,Ed
461,1989,2,40,Dino Rađa,PF,KK Split,Rađa,Dino
462,1989,2,41,Doug Roth,C,Tennessee,Roth,Doug
463,1989,2,42,Michael Cutright,SG,McNeese State,Cutright,Michael
464,1989,2,43,Chucky Brown,PF,North Carolina State,Brown,Chucky
465,1989,2,44,Reggie Cross,PF,Hawaii,Cross,Reggie
466,1989,2,45,Scott Haffner,G,Evansville,Haffner,Scott
467,1989,2,46,Ricky Blanton,F,LSU,Blanton,Ricky
468,1989,2,47,Reggie Turner,SF,UAB,Turner,Reggie
469,1989,2,48,Junie Lewis,PG,South Alabama,Lewis,Junie
470,1989,2,49,Haywoode Workman,G,Oral Roberts,Workman,Haywoode
471,1989,2,50,Brian Quinnett,F,Washington State,Quinnett,Brian
472,1989,2,51,Mike Morrison,G,Loyola,Morrison,Mike
473,1989,2,52,Greg Grant,G,Trenton State,Grant,Greg
474,1989,2,53,Jeff Hodge,SG,South Alabama,Hodge,Jeff
475,1989,2,54,Toney Mack,SG,Georgia,Mack,Toney

In [38]:
# drop rows with incorrect formatting and replace with adjusted format
Data = Data[Data["year"] != 2018]
Data = Data[Data["year"] != 1992]
Data = Data[Data["year"] != 1989]
Data = Data[Data["year"] != 1990]
# df.append(df2, ignore_index=True)
Data = Data.append(D2018)
Data = Data.append(D1992)
Data = Data.append(D1989)
Data = Data.append(D1990)
Data

,year,round,pick,player,position,school,last name,first name
0,1980,1,1,"Carroll, Joe Barry",F/C,Purdue,Carroll,Joe Barry
1,1980,1,2,"Griffith, Darrell",G,Louisville,Griffith,Darrell
2,1980,1,3,"McHale, Kevin",F/C,Minnesota,McHale,Kevin
3,1980,1,4,"Ransey, Kelvin",G,Ohio State,Ransey,Kelvin
4,1980,1,5,"Ray, James",F,Jacksonville,Ray,James
...,...,...,...,...,...,...,...,...
525,1990,2,50,Miloš Babić,C,Tennessee Tech,Babić,Miloš
526,1990,2,51,Tony Smith,G,Marquette,Smith,Tony
527,1990,2,52,Stefano Rusconi,PF/C,Ranger Varese,Rusconi,Stefano
528,1990,2,53,Abdul Shamsid-Deen,C,Providence,Shamsid-Deen,Abdul
529,1990,2,54,Sean Higgins,G/F,Michigan,Higgins,Sean

In [26]:
# abandoned attempt to streamline changes through For loop
# if Data2['player'].str.contains(',').all() == True:
#     Data2['last name'], Data2['first name'] = Data2['player'].str.split(', ', 1).str
# else:
#     Data2['first name'], Data2['last name'] = Data2['player'].str.split(' ').str

C:\Users\lukee\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  after removing the cwd from sys.path.

ValueError: too many values to unpack (expected 2)

In [56]:
# Data["player"] = Data["first name"] + " " + Data["last name"]
Data.loc[Data['year'] == 2001]

,year,round,pick,player,position,school,last name,first name
1093,2001,1,1,Kwame Brown,C,Glynn Academy,Brown,Kwame
1094,2001,1,2,Tyson Chandler,C,Dominguez HS,Chandler,Tyson
1095,2001,1,3,Pau Gasol,PF/C,FC Barcelona,Gasol,Pau
1096,2001,1,4,Eddy Curry,C,Thornwood HS,Curry,Eddy
1097,2001,1,5,Jason Richardson,SG,Michigan State,Richardson,Jason
1098,2001,1,6,Shane Battier,SF,Duke,Battier,Shane
1099,2001,1,7,Eddie Griffin,PF,Seton Hall,Griffin,Eddie
1100,2001,1,8,DeSagana Diop,C,Oak Hill Academy,Diop,DeSagana
1101,2001,1,9,Rodney White,SF/PF,Charlotte,White,Rodney
1102,2001,1,10,Joe Johnson,SG,Arkansas,Johnson,Joe
1103,2001,1,11,Kedrick Brown,SF,Okaloosa-Walton CC,Brown,Kedrick
1104,2001,1,12,Vladimir Radmanović,PF,Red Star Belgrade,Radmanović,Vladimir
1105,2001,1,13,Richard Jefferson,SF,Arizona,Jefferson,Richard
1106,2001,1,14,Troy Murphy,PF,Notre Dame,Murphy,Troy
1107,2001,1,15,Steven Hunter,C,DePaul,Hunter,Steven
1108,2001,1,16,Kirk Haston,PF,Indiana,Haston,Kirk
1109,2001,1,17,Michael Bradley,PF,Villanova,Bradley,Michael
1110,2001,1,18,Jason Collins,C,Stanford,Collins,Jason
1111,2001,1,19,Zach Randolph,PF,Michigan State,Randolph,Zach
1112,2001,1,20,Brendan Haywood,C,North Carolina,Haywood,Brendan
1113,2001,1,21,Joseph Forte,SG,North Carolina,Forte,Joseph
1114,2001,1,22,Jeryl Sasser,SG,SMU,Sasser,Jeryl
1115,2001,1,23,Brandon Armstrong,SG,Pepperdine,Armstrong,Brandon
1116,2001,1,24,Raúl López,PG,Real Madrid,López,Raúl
1117,2001,1,25,Gerald Wallace,SF,Alabama,Wallace,Gerald
1118,2001,1,26,Samuel Dalembert,C,Seton Hall,Dalembert,Samuel
1119,2001,1,27,Jamaal Tinsley,PG,Iowa State,Tinsley,Jamaal
1120,2001,1,28,Tony Parker,PG,Paris Basket Racing,Parker,Tony
1121,2001,1,29,NaN,None,None,Forfeited pick,NaN
1122,2001,2,30,Trenton Hassell,SG,Austin Peay,Hassell,Trenton
1123,2001,2,31,Gilbert Arenas,PG,Arizona,Arenas,Gilbert
1124,2001,2,32,Omar Cook,PG,St. John's,Cook,Omar
1125,2001,2,33,Will Solomon,PG,Clemson,Solomon,Will
1126,2001,2,34,Terence Morris,SF,Maryland,Morris,Terence
1127,2001,2,35,Brian Scalabrine,PF,USC,Scalabrine,Brian
1128,2001,2,36,Jeff Trepagnier,SG,USC,Trepagnier,Jeff
1129,2001,2,37,Damone Brown,SF,Syracuse,Brown,Damone
1130,2001,2,38,Mehmet Okur,C,Efes Pilsen,Okur,Mehmet
1131,2001,2,39,Michael Wright,PF,Arizona,Wright,Michael
1132,2001,2,40,Earl Watson,PG,UCLA,Watson,Earl
1133,2001,2,41,Jamison Brewer,PG,Auburn,Brewer,Jamison
1134,2001,2,42,Bobby Simmons,F/G,DePaul,Simmons,Bobby
1135,2001,2,43,Eric Chenowith,C,Kansas,Chenowith,Eric
1136,2001,2,44,Kyle Hill,PG,Eastern Illinois,Hill,Kyle
1137,2001,2,45,Sean Lampley,SF,California,Lampley,Sean
1138,2001,2,46,Loren Woods,C,Arizona,Woods,Loren
1139,2001,2,47,Ousmane Cisse,PF,St. Jude HS,Cisse,Ousmane
1140,2001,2,48,Antonis Fotsis,SF,Panathinaikos,Fotsis,Antonis
1141,2001,2,49,Ken Johnson,C,Ohio State,Johnson,Ken
1142,2001,2,50,Ruben Boumtje-Boumtje,C,Georgetown,Boumtje-Boumtje,Ruben
1143,2001,2,51,Alton Ford,PF,Houston,Ford,Alton
1144,2001,2,52,Andre Hutson,PF,Michigan State,Hutson,Andre
1145,2001,2,53,Jarron Collins,F/C,Stanford,Collins,Jarron
1146,2001,2,54,Kenny Satterfield,PG,Cincinnati,Satterfield,Kenny
1147,2001,2,55,Maurice Jeffers,SG,Saint Louis,Jeffers,Maurice
1148,2001,2,56,Robertas Javtokas,C,Lietuvos rytas Vilnius,Javtokas,Robertas
1149,2001,2,57,Alvin Jones,C,Georgia Tech,Jones,Alvin
1150,2001,2,58,Bryan Bracey,SF,Oregon,Bracey,Bryan

In [44]:
# load adjustments into new csv
Data3.to_csv("NBADraftData2.csv", index = False)

In [111]:
# Below are adjustments meant to clean issues with encoding, draft pick forfeits, and other rows with null values
# Note that cells may have been changed just slightly to address different issues instead of creating new cells
filepath = "NBADraftData2.csv"
Data4 = pd.read_csv(filepath, encoding = 'utf-8')
Data4

,year,round,pick,player,position,school,last name,first name
0,1980,1,1,Joe Barry Carroll,F/C,Purdue,Carroll,Joe Barry
1,1980,1,2,Darrell Griffith,G,Louisville,Griffith,Darrell
2,1980,1,3,Kevin McHale,F/C,Minnesota,McHale,Kevin
3,1980,1,4,Kelvin Ransey,G,Ohio State,Ransey,Kelvin
4,1980,1,5,James Ray,F,Jacksonville,Ray,James
...,...,...,...,...,...,...,...,...
2153,1990,2,50,MiloÅ¡ BabiÄ‡,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
2154,1990,2,51,Tony Smith,G,Marquette,Smith,Tony
2155,1990,2,52,Stefano Rusconi,PF/C,Ranger Varese,Rusconi,Stefano
2156,1990,2,53,Abdul Shamsid-Deen,C,Providence,Shamsid-Deen,Abdul
2157,1990,2,54,Sean Higgins,G/F,Michigan,Higgins,Sean

In [88]:
Data3 = Data3[Data3["last name"] != "Forfeited pick"]

In [89]:
Data3 = Data3.dropna(how='any', axis=0)
Data3

,year,round,pick,player,position,school,last name,first name
0,1980,1,1,Joe Barry Carroll,F/C,Purdue,Carroll,Joe Barry
1,1980,1,2,Darrell Griffith,G,Louisville,Griffith,Darrell
2,1980,1,3,Kevin McHale,F/C,Minnesota,McHale,Kevin
3,1980,1,4,Kelvin Ransey,G,Ohio State,Ransey,Kelvin
4,1980,1,5,James Ray,F,Jacksonville,Ray,James
...,...,...,...,...,...,...,...,...
2161,1990,2,50,MiloÅ¡ BabiÄ‡,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
2162,1990,2,51,Tony Smith,G,Marquette,Smith,Tony
2163,1990,2,52,Stefano Rusconi,PF/C,Ranger Varese,Rusconi,Stefano
2164,1990,2,53,Abdul Shamsid-Deen,C,Providence,Shamsid-Deen,Abdul
2165,1990,2,54,Sean Higgins,G/F,Michigan,Higgins,Sean

In [78]:
Data3.loc[Data3['school'] == "Ohio State"].head(50)

,year,round,pick,player,position,school,last name,first name
3,1980,1,4,Kelvin Ransey,G,Ohio State,Ransey,Kelvin
59,1981,1,14,Herb Williams,F/C,Ohio State,Williams,Herb
99,1982,1,8,Clark Kellogg,PF,Ohio State,Kellogg,Clark
176,1983,2,39,Granville Waiters,C,Ohio State,Waiters,Granville
204,1984,1,20,Tony Campbell,G/F,Ohio State,Campbell,Tony
287,1986,1,9,Brad Sellers,C,Ohio State,Sellers,Brad
328,1987,1,3,Dennis Hopson,SF,Ohio State,Hopson,Dennis
580,1994,2,51,Lawrence Funderburke,PF,Ohio State,Funderburke,Lawrence
915,2000,2,43,Michael Redd,SG,Ohio State,Redd,Michael
929,2000,2,57,Scoonie Penn,G,Ohio State,Penn,Scoonie
979,2001,2,49,Ken Johnson,C,Ohio State,Johnson,Ken
1284,2007,1,1,Greg Oden,C,Ohio State,Oden,Greg
1287,2007,1,4,Mike Conley,PG,Ohio State,Conley,Mike
1304,2007,1,21,Daequan Cook,SG,Ohio State,Cook,Daequan
1366,2008,1,23,Kosta Koufos,C,Ohio State,Koufos,Kosta
1427,2009,1,24,Byron Mullens,C,Ohio State,Mullens,Byron
1465,2010,1,2,Evan Turner,SF/SG,Ohio State,Turner,Evan
1574,2011,2,51,Jon Diebler,SG,Ohio State,Diebler,Jon
1701,2013,2,58,Deshaun Thomas,SF,Ohio State,Thomas,Deshaun
1765,2015,1,2,D'Angelo Russell,PG,Ohio State,Russell,D'Angelo
1981,2018,2,38,Keita Bates-Diop,SF,Ohio State,Bates-Diop,Keita
2007,1992,1,4,Jimmy Jackson,SG,Ohio State,Jackson,Jimmy

In [92]:
Data3.to_csv("NBADraftData2.csv", index = False)

In [122]:
# Below, the player lookup csv provided by Nirmal is introduced and used to add the player id column
# This was done to make both an inner merged version and "right" merge.
# The first to provide clean data for upload to the database and the other to retain player data for player names with encoding issues
filepath = "Player_lookup.csv"
player_lookup = pd.read_csv(filepath)
player_lookup

      player_id          player_name first_name    last_name
0         23615       Alaa Abdelnaby       Alaa    Abdelnaby
1         23616   Mahmoud Abdul-Rauf    Mahmoud   Abdul-Rauf
2         23617    Tariq Abdul-Wahad      Tariq  Abdul-Wahad
3         23618  Shareef Abdur-Rahim    Shareef  Abdur-Rahim
4         23619         Alex Abrines       Alex      Abrines
...         ...                  ...        ...          ...
2676      26317    Stephen Zimmerman    Stephen    Zimmerman
2677      26318          Paul Zipser       Paul       Zipser
2678      26319           Ante Zizic       Ante        Zizic
2679      26320             Jim Zoet        Jim         Zoet
2680      26321          Ivica Zubac      Ivica        Zubac

[2681 rows x 4 columns]

In [123]:
playerRN = player_lookup.rename({'player_name': 'player'}, axis=1)
playerRN

      player_id               player first_name    last_name
0         23615       Alaa Abdelnaby       Alaa    Abdelnaby
1         23616   Mahmoud Abdul-Rauf    Mahmoud   Abdul-Rauf
2         23617    Tariq Abdul-Wahad      Tariq  Abdul-Wahad
3         23618  Shareef Abdur-Rahim    Shareef  Abdur-Rahim
4         23619         Alex Abrines       Alex      Abrines
...         ...                  ...        ...          ...
2676      26317    Stephen Zimmerman    Stephen    Zimmerman
2677      26318          Paul Zipser       Paul       Zipser
2678      26319           Ante Zizic       Ante        Zizic
2679      26320             Jim Zoet        Jim         Zoet
2680      26321          Ivica Zubac      Ivica        Zubac

[2681 rows x 4 columns]

In [105]:
lookupTest = pd.merge(playerRN, Data3, on='player', how='right')
lookupTest

,player_id,player,first_name,last_name,year,round,pick,position,school,last name,first name
0,9101.0,Alaa Abdelnaby,Alaa,Abdelnaby,1990,1,25,PF,Duke,Abdelnaby,Alaa
1,9105.0,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,1997,1,11,SF,San Jose State,Abdul-Wahad,Tariq
2,9106.0,Shareef Abdur-Rahim,Shareef,Abdur-Rahim,1996,1,3,F,California,Abdur-Rahim,Shareef
3,9111.0,Alex Acker,Alex,Acker,2005,2,60,G,Pepperdine,Acker,Alex
4,9113.0,Mark Acres,Mark,Acres,1985,2,40,F/C,Oral Roberts,Acres,Mark
...,...,...,...,...,...,...,...,...,...,...,...
2188,NaN,Chris Jackson,NaN,NaN,1990,1,3,PG,LSU,Jackson,Chris
2189,NaN,Toni KukoÄ,NaN,NaN,1990,2,29,SF,KK Split,KukoÄ,Toni
2190,NaN,Phil Henderson,NaN,NaN,1990,2,49,SG,Duke,Henderson,Phil
2191,NaN,MiloÅ¡ BabiÄ‡,NaN,NaN,1990,2,50,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
2192,NaN,Abdul Shamsid-Deen,NaN,NaN,1990,2,53,C,Providence,Shamsid-Deen,Abdul

In [107]:
lookupTest = lookupTest.drop(columns=['first_name', 'last_name'])

In [108]:
lookupTest.to_csv("DraftDataID.csv", index = 'player_id')

In [125]:
lookupTest2 = pd.merge(playerRN, Data3, on='player', how='inner')
lookupTest2
lookupTest2 = lookupTest2.drop(columns=['first_name', 'last_name'])
lookupTest2 = lookupTest2.rename({'last name': 'last_name', 'first name': 'first_name'}, axis=1)
lookupTest2.to_csv("DraftDataIDClean1.csv", index = False)

In [126]:
lookupTest2

,player_id,player,year,round,pick,position,school,last_name,first_name
0,23615,Alaa Abdelnaby,1990,1,25,PF,Duke,Abdelnaby,Alaa
1,23617,Tariq Abdul-Wahad,1997,1,11,SF,San Jose State,Abdul-Wahad,Tariq
2,23618,Shareef Abdur-Rahim,1996,1,3,F,California,Abdur-Rahim,Shareef
3,23620,Alex Acker,2005,2,60,G,Pepperdine,Acker,Alex
4,23621,Mark Acres,1985,2,40,F/C,Oral Roberts,Acres,Mark
...,...,...,...,...,...,...,...,...,...
1636,26315,George Zidek,1995,1,22,C,UCLA,Zidek,George
1637,26316,Derrick Zimmerman,2003,2,40,PG,Mississippi State,Zimmerman,Derrick
1638,26317,Stephen Zimmerman,2016,2,41,PF/C,UNLV,Zimmerman,Stephen
1639,26318,Paul Zipser,2016,2,48,SG/SF,FC Bayern Munich,Zipser,Paul
1640,26321,Ivica Zubac,2016,2,32,C,Mega Leks,Zubac,Ivica

In [116]:
lookupTest

,player_id,player,year,round,pick,position,school,last name,first name
0,9101.0,Alaa Abdelnaby,1990,1,25,PF,Duke,Abdelnaby,Alaa
1,9105.0,Tariq Abdul-Wahad,1997,1,11,SF,San Jose State,Abdul-Wahad,Tariq
2,9106.0,Shareef Abdur-Rahim,1996,1,3,F,California,Abdur-Rahim,Shareef
3,9111.0,Alex Acker,2005,2,60,G,Pepperdine,Acker,Alex
4,9113.0,Mark Acres,1985,2,40,F/C,Oral Roberts,Acres,Mark
...,...,...,...,...,...,...,...,...,...
2188,NaN,Chris Jackson,1990,1,3,PG,LSU,Jackson,Chris
2189,NaN,Toni KukoÄ,1990,2,29,SF,KK Split,KukoÄ,Toni
2190,NaN,Phil Henderson,1990,2,49,SG,Duke,Henderson,Phil
2191,NaN,MiloÅ¡ BabiÄ‡,1990,2,50,C,Tennessee Tech,BabiÄ‡,MiloÅ¡
2192,NaN,Abdul Shamsid-Deen,1990,2,53,C,Providence,Shamsid-Deen,Abdul

In [129]:
# Clean and merge season stats csv with player lookup
filepath = "Seasons_Stats.csv"
SeasonData = pd.read_csv(filepath)
SeasonData = SeasonData.drop(columns=['Unnamed: 0'])
SeasonData

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [135]:
SeasonData = SeasonData.dropna(how='all')
SeasonData = SeasonData.rename({'Player':'player'}, axis=1)
SeasonDataID = pd.merge(playerRN, SeasonData, on='player', how='inner')
SeasonDataID = SeasonDataID.drop(columns=['first_name', 'last_name',])

In [136]:
SeasonDataID

,player_id,player,Year,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,23615,Alaa Abdelnaby,1991.0,PF,22.0,POR,43.0,0.0,290.0,13.1,...,0.568,27.0,62.0,89.0,12.0,4.0,12.0,22.0,39.0,135.0
1,23615,Alaa Abdelnaby,1992.0,PF,23.0,POR,71.0,1.0,934.0,13.5,...,0.752,81.0,179.0,260.0,30.0,25.0,16.0,66.0,132.0,432.0
2,23615,Alaa Abdelnaby,1993.0,PF,24.0,TOT,75.0,52.0,1311.0,13.2,...,0.759,126.0,211.0,337.0,27.0,25.0,26.0,97.0,189.0,578.0
3,23615,Alaa Abdelnaby,1993.0,PF,24.0,MIL,12.0,0.0,159.0,11.9,...,0.750,12.0,25.0,37.0,10.0,6.0,4.0,13.0,24.0,64.0
4,23615,Alaa Abdelnaby,1993.0,PF,24.0,BOS,63.0,52.0,1152.0,13.4,...,0.760,114.0,186.0,300.0,17.0,19.0,22.0,84.0,165.0,514.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16996,26316,Derrick Zimmerman,2006.0,PG,24.0,NJN,2.0,0.0,32.0,5.5,...,NaN,1.0,3.0,4.0,7.0,0.0,0.0,4.0,4.0,4.0
16997,26317,Stephen Zimmerman,2017.0,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
16998,26318,Paul Zipser,2017.0,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
16999,26320,Jim Zoet,1983.0,C,29.0,DET,7.0,0.0,30.0,-0.8,...,NaN,3.0,5.0,8.0,1.0,1.0,3.0,4.0,9.0,2.0
17000,26321,Ivica Zubac,2017.0,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [139]:
SeasonDataID.dtypes

player_id      int64
player        object
Year         float64
Pos           object
Age          float64
Tm            object
G            float64
GS           float64
MP           float64
PER          float64
TS%          float64
3PAr         float64
FTr          float64
ORB%         float64
DRB%         float64
TRB%         float64
AST%         float64
STL%         float64
BLK%         float64
TOV%         float64
USG%         float64
blanl        float64
OWS          float64
DWS          float64
WS           float64
WS/48        float64
blank2       float64
OBPM         float64
DBPM         float64
BPM          float64
VORP         float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
dtype: object

In [140]:
SeasonDataID.to_csv("Seasons_StatsClean.csv", index = False)