In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
filepath = "NBA_Draft_1980_2017.tsv"
Data = pd.read_csv(filepath, sep = '\t')
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2167 rows x 6 columns]

In [10]:
Data.dtypes

year          int64
round         int64
pick        float64
player       object
position     object
school       object
dtype: object

In [12]:
Data = Data.dropna()
Data

      year  round  pick              player position         school
0     1980      1   1.0  Carroll, Joe Barry      F/C         Purdue
1     1980      1   2.0   Griffith, Darrell        G     Louisville
2     1980      1   3.0       McHale, Kevin      F/C      Minnesota
3     1980      1   4.0      Ransey, Kelvin        G     Ohio State
4     1980      1   5.0          Ray, James        F   Jacksonville
...    ...    ...   ...                 ...      ...            ...
2162  2018      2  56.0         Jacob Evans       SF     Cincinnati
2163  2018      2  57.0        Jevon Carter       PG  West Virginia
2164  2018      2  58.0      Borisa Simanic    SF/PF         Serbia
2165  2018      2  59.0       Bonzie Colson    SF/PF     Notre Dame
2166  2018      2  60.0    Kendall Stephens    SG/SF         Nevada

[2166 rows x 6 columns]

In [14]:
Data.to_csv("NBADraftData.csv", index = False)