In [3]:
import pandas as pd
import matplotlib

In [10]:
filepath = "Seasons_StatsClean.csv"
Data = pd.read_csv(filepath)
Data
filepath2 = "ncaa_stats_per_season.csv"
Data2 = pd.read_csv(filepath2)
Data2

Unnamed: 0            int64
Player               object
Class                object
Col Season Start      int64
Col Season End        int64
Col Pos              object
College              object
Col Conf             object
Col Games Played      int64
Col MP              float64
Col FG                int64
Col FGA               int64
Col 2P                int64
Col 2PA               int64
Col 3P                int64
Col 3PA               int64
Col FT                int64
Col FTA               int64
Col ORB             float64
Col DRB             float64
Col TRB               int64
Col AST               int64
Col STL               int64
Col BLK               int64
Col TOV             float64
Col PTS               int64
player_id             int64
dtype: object

In [20]:
Data.dtypes

player_id      int64
player        object
Year         float64
Pos           object
Age          float64
Tm            object
G            float64
GS           float64
MP           float64
PER          float64
TS%          float64
3PAr         float64
FTr          float64
ORB%         float64
DRB%         float64
TRB%         float64
AST%         float64
STL%         float64
BLK%         float64
TOV%         float64
USG%         float64
blanl        float64
OWS          float64
DWS          float64
WS           float64
WS/48        float64
blank2       float64
OBPM         float64
DBPM         float64
BPM          float64
VORP         float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
dtype: object

In [8]:
Data.nlargest(10, columns=['PTS'])

,player_id,player,Year,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2186,23945,Kobe Bryant,2006.0,SG,27.0,LAL,80.0,80.0,3277.0,28.0,...,0.850,71.0,354.0,425.0,360.0,147.0,30.0,250.0,233.0,2832.0
4370,24273,Kevin Durant,2014.0,SF,25.0,OKC,81.0,81.0,3122.0,29.8,...,0.873,58.0,540.0,598.0,445.0,103.0,59.0,285.0,174.0,2593.0
16006,26149,Russell Westbrook,2017.0,PG,28.0,OKC,81.0,81.0,2802.0,30.6,...,0.845,137.0,727.0,864.0,840.0,133.0,31.0,438.0,190.0,2558.0
7599,24788,LeBron James,2006.0,SF,21.0,CLE,79.0,79.0,3361.0,28.1,...,0.738,75.0,481.0,556.0,521.0,123.0,66.0,260.0,181.0,2478.0
4366,24273,Kevin Durant,2010.0,SF,21.0,OKC,82.0,82.0,3239.0,26.2,...,0.900,105.0,518.0,623.0,231.0,112.0,84.0,271.0,171.0,2472.0
2183,23945,Kobe Bryant,2003.0,SG,24.0,LAL,82.0,82.0,3401.0,26.2,...,0.843,106.0,458.0,564.0,481.0,181.0,67.0,288.0,218.0,2461.0
2187,23945,Kobe Bryant,2007.0,SG,28.0,LAL,77.0,77.0,3140.0,26.1,...,0.868,75.0,364.0,439.0,413.0,111.0,36.0,255.0,205.0,2430.0
10093,25199,Tracy McGrady,2003.0,SG,23.0,ORL,75.0,74.0,2954.0,30.3,...,0.793,121.0,367.0,488.0,411.0,124.0,59.0,195.0,156.0,2407.0
15525,26084,Dwyane Wade,2009.0,SG,27.0,MIA,79.0,79.0,3048.0,30.4,...,0.765,89.0,309.0,398.0,589.0,173.0,106.0,272.0,178.0,2386.0
14209,25864,Jerry Stackhouse,2001.0,SG,26.0,DET,80.0,80.0,3215.0,21.8,...,0.822,99.0,216.0,315.0,410.0,97.0,54.0,326.0,160.0,2380.0

In [19]:
Data2[['Col 3PA','Player','Col Season Start']].nlargest(10, columns=['Col 3PA'])

     Col 3PA            Player  Col Season Start
3        369     Stephen Curry              2007
70       366      Josh Akognon              2008
2        336     Stephen Curry              2008
6        330       J.J. Redick              2005
655      328     Matt Williams              2016
21       322       Buddy Hield              2015
31       322  Andrew Goudelock              2010
30       320     Lester Hudson              2007
0        313   Jimmer Fredette              2010
41       309      Jay Williams              2000

In [21]:
Data[['3PA','player','Year']].nlargest(10, columns=['3PA'])

         3PA          player    Year
3532   886.0   Stephen Curry  2016.0
3533   789.0   Stephen Curry  2017.0
6248   756.0    James Harden  2017.0
9951   678.0  George McCloud  1996.0
5662   661.0     Eric Gordon  2017.0
6247   657.0    James Harden  2016.0
257    653.0       Ray Allen  2006.0
14899  650.0   Klay Thompson  2016.0
14900  647.0   Klay Thompson  2017.0
3531   646.0   Stephen Curry  2015.0